/****************************************************
 * Schmoilerplate
 * Primary style sheet
 * Author: Chris Tallia
 * WINTER 2015
 ***************************************************/

/****************************************************
 * =IMPORTS
 */

@import 'bourbon/bourbon';

/* reset can be found and altered at '_reset.scss' */
@import 'reset-star';

/* uncomment to use eric meyer reset */
//@import 'reset-meyer';

/* mixins can be found and altered at '_mixins.scss' */
@import 'mixins';

/****************************************************
 * =VARIABLES
 */

$grey: #676767;

/****************************************************
 * =TYPOGRAPHY
 */

h1{
  font-size:48px;
  margin-bottom: 20px;
  line-height: 60px;
}

h2{
  font-size:32px;
  margin-bottom: 10px;
  line-height: 40px;
  color: #aaaaaa;
}

h3{
  font-size:18px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #0099ff;
}

/****************************************************
 * =FORM ELEMENTS
 */

input{
  &[type="text"], &[type="password"]{
    @include inlineblock;
    @include inner-shadow;
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border:solid 1px #cccccc;
    padding:0 6px;
    height:28px;
    font-size:16px;
    width:200px;
    box-shadow: none;
  }
}

textarea{
  font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border:solid 1px #cccccc;
  padding:6px;
  margin:5px 0;
  font-size:16px;
  width:288px;
  height:50px;
}

/****************************************************
 * =MODULAR ELEMENTS
 */

.hide{
  display:none;
}

.block{
  display:block;
  width:100%;
}

.clear{
  clear:both;
}

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.pad-ends{
  padding: 20px 0;
}

.pad-top{
  padding-top: 40px;
}

.margin-top{
  padding-top: 20px;
}

.inline-block{
  display:inline-block;
  *display: inline;
  vertical-align:top;
  margin-right:-4px;
  *zoom: 1;
}

/****************************************************
 * =REUSABLE ELEMENTS
 */


/****************************************************
 * =STRUCTURAL ELEMENTS
 */

html{

}

div{
  word-wrap: break-word;
}

body{
  font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:12px;
  color:#333333;
}

div.full{
  display: block;
  width: 100%;
}

div.container{
  @include transition (width 0.5s ease-in-out);
  width: 1840px;
  margin: 0 auto;
  display: block;
  position: relative;
  @include respond(desktop){
    width:1320px;
  }
  @include respond(laptop){
    width:1260px;
  }
  @include respond(netbook){
    width:960px;
  }
  @include respond(tablet){
    width:720px;
  }
  @include respond(mobile){
    width: 300px;
  }
}

div.header{
  background: #dddddd;
  width: 100%;
  height: 50px;
  div.logo{
    display: inline;
    line-height: 50px;
    font-size:14px;
    font-weight: bold;
    color: #666666;
  }
}

div.nav{
  float: right;
  line-height: 50px;
}


